@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* imorts para usar fontes customizadas*/
body, html {
    height: 100%;
    margin: 0;
    background-color: #0d0d0d;
}
* {
    box-sizing: border-box;
    color: white;
    font-family: "Goldman", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.bannerEvento{
    height: 450px;
    width: auto;
}
.iconeProxEvento{
    height: 250px;
    width: auto;
    cursor: pointer;
    transition: 0.3s ease;
    filter: brightness(1); 
}
.iconeProxEvento img:hover{
  filter: brightness(1.2); 
  transform: scale(1.05); 
}
.menu-lateral {
  position: fixed; /* faz ele seguir a rolagem */
  top: 0;
  right: 0;
  width: 100px; /* dimensões*/
  height: 100vh; /* Altura total da viewport */
  color: #fff;
  padding: 20px;
  margin-top: 10px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral li {
  margin: 15px 0;
}

.menu-lateral a {
  color: #fff;
  text-decoration: none;
}
.IconesRedesSociais{
  width: 25px;
  height: 25px;
}
.proximosEventos {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 20px; /* Espaço entre imagem e texto */
  padding: 15px;
  border: 2px solid white; /* Define a borda branca */
  width: 85%;
}
.iconeProxEvento {
  width: auto;
  height: 200px;
  object-fit: cover; /* Ajusta a imagem para caber */
  border-radius: 8px;
}
.detalhesEventosFuturos h4 {
  margin: 5px 0; /* Espaçamento entre as linhas */
}
.container {
  position: absolute;
  top: 10;
  left: 15%; 
  display: inline-block;/* garante que a imagem e o texto se mantém juntos independente do zoom */
}
.infoEvento{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 20%;
    left: 107%;
}
.botoesEvento {
  display: flex;
  gap: 20px; /* Espaçamento entre os botões */
  justify-content: center; /* Centraliza os botões na página */
  padding: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
}
.botao {
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
  gap: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  left: 70%;
  font-size: 20px;
  background-color: transparent; /* Fundo inicial do botão */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para a mudança de cor */
  background-color: white;
}

#saiba_mais{
  color: white;
  background-color: lightgreen;
}
#comprar_ingresso{
  color: white;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}
button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button{
  background-color: red;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

.page-number {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
/*Footer*/
.menuInferiorContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #fff; /* Linha branca acima */
  border-bottom: 2px solid #fff; /* Linha branca acima */
  padding-top: 20px; /* Espaço entre a linha e o conteúdo */
  width: 80%;
  text-align: left; /* Alinha o texto à esquerda */
  padding-left: 0;
  margin: 0; /* Remove qualquer margem extra, se necessário */
  z-index: 999;
}
footer .menuinferior, footer .menuinferior2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

footer .menuinferior a, footer .menuinferior2 a {
  color: white;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer .menuinferior a:hover, footer .menuinferior2 a:hover {
  color: #bbb;
}

ul{
  list-style-type: none
}

.footer-text{
  margin-top: 25px;
}
.footer-text p{
  max-width: 800px;
  margin: 0 auto;
  font-size: 0.83rem;
  line-height: 1.9;
  color: #bbb;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-text strong {
  color: #fff;
}

.copyright p {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #888;
}
.copyright{
  padding: 25px;
}

form {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  align-items: stretch; /* Faz os elementos ocuparem toda a largura */
  gap: 10px; /* Espaçamento entre os elementos */
  max-width: 70%; /* Define uma largura máxima */
  margin: auto; /* Centraliza o formulário na tela */
  padding: 20px;
}

form h3 {
  margin: 0;
  font-size: 16px;
  color: white;
}

form input, 
form select {
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box; /* Inclui padding na largura total */
  background-color: #161616;
}
.rapazMenino{
  filter: blur(4px);
  -webkit-filter: blur(4px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("https://www.eventim.com.br/campaign/fileadmin/fm_br/campaigns/2024/knotfest/KNOTFEST24_LineUp_V19.png");
  background-size: cover;
  background-position: center;
}